body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url(asdf.png);
    background-repeat: no-repeat;
    background-size: cover;
}

